body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  height: 100vh;
}

.nestedTop {
  background-color: #709e5c;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.burger {
  justify-self: end;
  align-self: center;
  margin-right: 5%;
}
nav {
  display: none;
}

label {
  font-weight: bold;
  color: #f2f2f2;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
}

a:hover {
  color: black;
}

.headerNav {
  list-style: none;
}

.logoWrap {
  align-self: center;
}

.logo {
  background: url(../images/SquareEyes_Logo.png);
  min-height: 5em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5%;
}

#producerStyling,
#prodButton {
  background-color: #6c899e;
}

.loginForm {
  display: grid;
  grid-template-columns: 100%;
}
#loginH1,
#loginCreate,
#newSqr,
#logCreateButton,
.inputForm,
#loginButton {
  justify-self: center;
}
#loginButton {
  padding: 2em;
}
#logCreateButton {
  margin-top: 1em;
}
#homeTitle {
  color: #40403f;
}

.centerHomeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: fit-content;
  margin-top: 2em;
}

.homeTextAlignment {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

.accountButtonWrapper {
  justify-self: center;
  align-self: center;
}
.creatAccountButton,
.purchaseButton {
  background-color: #709e5c;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em;
  border-top-left-radius: 10px;
  text-decoration: none;
  border-bottom-right-radius: 10px;
  margin-top: 1em;
}

.creatAccountButton {
  display: block;
}
.browseWrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1em;
}
#browseText {
  font-weight: bold;
  color: #40403f;
}

#browseHeader {
  align-self: center;
  justify-self: center;
}

.thumbnailWrapper {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 1em;
  align-content: center;
  justify-content: center;
}

.movieThubmnails {
  list-style: none;
}
.dinoLI {
  display: inline;
}
.dinoBack {
  max-width: 100%;
  height: auto;
  border: solid;
  border-width: 5px;
}

.filmPageWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.nestedBot {
  background-color: #6c899e;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.faqFoot {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: start;
  align-content: start;
  grid-gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 1em;
}
.socialMedia {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: start;
  align-content: start;
  grid-gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.helpNstuff {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

.helpButton {
  display: block;
  border-color: #f2f2f2;
  border-style: solid;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  border-width: 2px;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.helpWrapper {
  align-self: center;
  justify-self: end;
  margin-right: 3em;
}

#copyR {
  color: #f2f2f2;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 700px) {
  .homeTextAlignment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .accountButtonWrapper {
    justify-self: end;
    align-self: center;
  }
}
