* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
header {
  background-color: #709e5c;
  display: flex;
  min-height: 116px;
  position: sticky;
  top: 0;
}

header a:hover {
  color: white;
}

header a {
  color: black;
  font-weight: bold;
  font-size: 1.4em;
}

.navItem {
  padding: 5px;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 200px;
  padding: 10px;
  margin: auto;
  margin-left: 0;
}

/* Main Styling - in general */
main {
  margin-top: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.indexH1 {
  text-align: center;
}

.indexImg {
  width: 100%;
  padding: 2rem;
}

.indexIngress {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.creatAccountButton {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 180px;
  height: 50px;
  color: black;
  border: none;
  padding: 5px;
}

.creatAccountButton {
  background-color: #709e5c;
}

main a {
  margin-right: 2rem;
  margin-left: auto;
}

.creatAccountButton:hover {
  color: white;
}

/* Browse Films Styling */

.container {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  margin-top: 2rem;
}

.movieTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 342px;
}
.attribution,
#browseHeader {
  margin-left: auto;
  margin-right: auto;
}

.attribution,
#browseHeader {
  margin-bottom: 2rem;
}
.attribution img {
  height: 50px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 2rem;
}

.movieTitle,
.movieScore {
  color: black;
}

/* Film Styling */

.queryResult {
  margin-left: auto;
  margin-right: auto;
}

.resultDet {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.filmSum {
  width: 50%;
  margin: 10px;
}

.filmPoster {
  margin: 10px;
}

/*Purchase Styling */

.purchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.removeButton {
  display: none;
}

/* Form Styling */
.form-error,
#failedMessage {
  display: none;
  color: red;
  font-size: 18px;
}

.formSuccess,
#successMessage {
  display: none;
  color: #709e5c;
  width: 100%;
  font-size: 18px;
}

.formSuccess,
.creatAccountButton a,
.squareFormButton,
.squareForm,
.loadingForm,
.loadingMessage,
#failedMessage,
.createPrompt,
.centerButton {
  margin-left: auto;
  margin-right: auto;
}

.squareForm {
  display: flex;
  flex-direction: column;
}

.squareFormItem {
  padding: 5px;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
}

.squareFormInput {
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  min-height: 25px;
  margin-top: 5px;
}

.squareFormButton {
  margin-top: 15px;
}
.loadingForm,
.loadingMessage,
#failedMessage,
.createPrompt,
.centerButton {
  margin-top: 15px;
  padding: 10px;
}

/* Footer Styling  */

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #6c899e;
  margin-bottom: 0;
  padding: 20px;
  width: 100%;
}

footer section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer a {
  color: black;
}

footer a:hover {
  color: white;
}

@media only screen and (min-width: 1200px) {
  .burgerLabel {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }
  .navMenu {
    display: flex;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
  }

  .burger {
    margin-top: auto;
    margin-right: 2rem;
    margin-left: auto;
    margin-bottom: auto;
  }
}

@media only screen and (max-width: 1200px) {
  /* Header */

  .logo {
    margin-left: 0;
  }
  nav {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .burger {
    margin-top: auto;
    margin-right: 20px;
    margin-left: auto;
    margin-bottom: auto;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #709e5c;
    z-index: 1500;
    right: 0px;
    padding: 10px;
  }
  .navMenu li {
    padding: 5px;
  }
}

@media only screen and (max-width: 650px) {
  footer {
    flex-direction: column;
  }

  footer section a {
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin-top: 10%;
    padding-bottom: 0;
  }

  .filmSum {
    width: 80%;
  }
}

/*Animation */

.loading,
.loadingForm {
  border: 20px solid #6c899e;
  border-top: 20px solid #709e5c;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 3s linear infinite;
}

.loadingForm,
.loadingMessage {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Producer Styling */
#producerStyling {
  background-color: #6c899e;
}
